body {
    font: 'omnes Pro',sans-serif;
    font-size: 20px;
    background-color: #00b3bc;
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



.content-container {
    background-color: #fff;
    padding: 150px 50px 50px 50px;
    min-height: 100vh;

    h2 {
        font-weight: 700;
    }

    .content-container--wrapper {

        .loading {
            width: 100px;
            height: 100px;
            margin: auto;
        }

        label {
            color: #00b3bc;
        }

        .paragraph {
            white-space: pre-wrap;
            text-align: justify;
        }

        .team-logo {
            margin: 20px 0;
            background-image: url(images/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;

            img {
                height: 155px;
                margin: auto;
                display: block;
            }
        }

        .MuiInput-root {
            width: 100%;

            .MuiSelect-select.MuiSelect-select {
                padding-left: 5px;
            }
        }

        .MuiInput-root.MuiInput-underline:after {
            border-bottom: 2px solid #00b3bc;
        }

        input {
            padding-left: 20px;
        }
    }
}